:root {
    --width: 90%;
    --margin: 5%;
}
*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
img {
    border-style: none;
    width: 100%;
}

body{
    margin: 0;
}
.fondo{
    background-color: #101F36;
}

.login_logo{
    height: 45%;
    margin: 10px 50px;
}
.login_logo img{
    margin: 100px auto;
}
.formulario{
    display: flex;
    flex-wrap: wrap;
}
.formulario input{
    background-repeat: no-repeat;
    background-size: 23px;
    background-color: transparent;
    width: 100%;
    margin: 8px 45px;
    border: none;
    outline: none;
    padding: 7px 30px;
    background-position-y: center;
    border-bottom: 1px solid #39B6E8;
    color: #39B6E8;
}
.formulario .usuario{
    background-image: url(../imagenes/email.svg);
}
.formulario .password{
    background-image: url(../imagenes/padlock.svg);
    background-size: 16px;
}
.formulario .lupa{
    background-image: url(../imagenes/magnifyingGlassSkiblue.svg);
    background-size: 16px;
    
}
.formulario input::placeholder{
    color: #39B6E8;
}
.boton{
    margin: 2% 12.5% 10%;
    width: 75%;
    height: 40px;
    border: none;
    outline: none;
    background-color: #39B6E8; 
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
}
.boton:hover{
    background-color: #0eb6f8; 
}
@media (min-width: 720px){
    .boton{
        font-size: 1em;
    }
    .login_logo img {
        margin: 50px auto;
    }
    .login_logo{
        width: 50%;
        margin: auto;
    }
    .formulario{
        width: 70%;
        margin: 30px auto;

    }
}
@media (min-width: 1024px){
    .login_logo{
        width: 45%;
        margin: auto;
    }
    .formulario{
        width: 50%;
        margin: 50px auto;
    }
}
/*Header*/
.header{
    display: flex;
    height: 45px;
    background-color: #101F36;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}
.header__menu{
    display: flex;
    width: 50%;
    margin-left: var(--margin);
    
}
.header__menu img{
    width: auto;
    height: 45px;
}
.header__logo{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    margin-right: var(--margin);
}
.header__logo img{
    height: 90%;
}
@media (min-width: 1024px){
    .header{
        height: 60px;
        justify-content: space-between;
    }
    .header__menu{
        display: none;
        width: 0;
    }
    .header figure:nth-last-child(2){
        margin-left: 10px;
    }
    .header__logo{
        width: 10%;
        margin-left: var(--margin);
        margin-right: 0;
        padding: 8px 0;
    }
}
/* Navegacion */
.navegacion{
    position: fixed;
    left: 0;
    top: 45px;
    z-index: 100;
    width: 70%;
    height: 100%;
    background-color: #101F36;
    transition: 1s;
}
.left{
    left: -75%;
}
.navegacion ul li{
    display: flex;
    margin-left: var(--margin);
}
.navegacion ul li:hover{
    background-color: #0e3063;
}
.navegacion ul li:first-child{
    margin-top: 15px;
}
.navegacion__icono{
    width: 35px;
    margin-left: var(--margin);
}
.link{
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 15px;
}
@media (min-width: 720px){
    .navegacion__icono{
        width: 40px;
    }
    .navegacion ul li{
        margin-top: 15px;
    }
    .link{
        font-size: 1.1em;
        width: 87%;
    }
}
@media (min-width: 1024px){
    .navegacion{
        height: inherit;
        position: initial;
    }
    .navegacion ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        height: inherit;
        justify-content: flex-end;
    }
    .navegacion ul li{
        font-size: .97em;
        height: inherit;
        margin: 0;
    }
    .link{
        display: flex;
        align-items: center;
        padding: 0 30px;
        width: 100%;
   }
    .navegacion ul li:first-child{
        margin-top: 0;
    }
    .navegacion ul li:last-child{
        margin-right: 0;
    }
    .navegacion__icono{
        display: none;
    }

}
@media (min-width: 1100px){
    .navegacion ul li:last-child{
        margin-right: var(--margin);
    }
}
/* Banner */
.banner{
    margin-top: 45px;
    height: 320px;
    overflow: hidden;
}
.banner figure{
    width: 100%;
    height: 60%;
    display: flex;
    margin-left: -100%;
}
.banner figure img{
    flex-shrink: 0;
}
.titulo{
    background: rgba(16, 31, 54, 0.92);
    /* background-color: rgb(16, 31, 54); */
    width: var(--width);
    height: 170px;
    position: absolute;
    top: 190px;
    color: #ffffff;
    margin: 0 var(--margin) 0 var(--margin);
    padding: 20px 30px;
    font-size: 0.9em;
    text-align: center;
}
.secundario{
    width: 100%;
    margin: 0;
    text-align: center;
}
.secundario p span{
    display: inline-block;
    width: 100%;
}
.titulo h1{
    margin-bottom: 10px;
}
@media (min-width: 720px){
    .banner{
        height: 400px;
    }
    .titulo{
        top: 250px;
        font-size: 1em;
    }
}
@media (min-width: 1024px){
    .banner{
        height: 550px;
    }
    .titulo{
        top: 375px;
        background-color: rgb(16, 31, 54);
        margin: 0;
        width: 100%;
        font-size: 1.1em;
    }
}
/* ========================= MAIN ======================= */
.main{
    width: 100%;
    height: 450px;
    display: flex;
    margin-top: 10px;
    flex: 1;
	overflow: auto;
}
.card{
    width: 90%;
    height: auto;
    flex-shrink: 0;
    margin-right: 13px;
    box-shadow: 4px 4px 8px #101f36;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.card figure{
    height: 324px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    overflow: hidden;
}
.card a{
    text-decoration: none;
    color: white;
}
@media (min-width: 720px){
    .card figure img{
        height: 100%;
        width: auto;
    }
    .main{
        width: 100%;
        height: 550px;
    }
    .card{
        width: 70%;
    }
}
@media (min-width: 1024px){
    .main{
        width: 60%;
        flex-wrap: wrap;
        height: auto;
        margin-left: var(--margin);
    }
    .card{
        width: 45%;
        margin-right: 30px;
    }
}
/* ========================= ASIDE =========================== */
.aside{
    margin: 0px auto 15px;
    height: 300px;
}
.aside figure{
    height: inherit;
}
.aside figure img{
    height: inherit;
}
@media (min-width: 720px){
    .aside{
        height: 400px;
    }
}
@media (min-width: 1024px){
    .aside{
        width: 30%;
        margin: 0;
        height: 952.125px;
    }
    .contenedor{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
}
/* ================================= CONTACTO =========================== */
.contacto{
    width: var(--width);
    margin: 0 var(--margin);
    font-size: 0.8em;
    text-align: center;
    align-items: center;
}
.contacto form input{
    background-image: url(../imagenes/email.svg);
    background-size: 23px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    width: 100%;
    background-color: #101F36;
    outline: none;
    border: none;
    padding: 10px 40px;
    margin: 10px 0;
    color: #ffffff;
}
.contacto form input::placeholder{
    color: #ffffff;
}
@media (min-width: 720px){
    .contacto{
        font-size: 1em;
    }
    .contacto form input{
        margin: 20px 0;
    }
}
@media (min-width: 1024px){

    .contacto{
        border-top: 1px solid #101F36;
        display: flex;
        justify-content: space-between;
    }
    .contacto form{
        width: 30%;
        margin-top: 10px;
    }
}
/*Redes*/
.redes{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0 20px;
}
.redes a{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.redes a:last-child{
    margin-right: 0;
}
.facebook{
    background-image: url(../imagenes/facebook.svg);
    background-size: 50px 50px;
}
.twitter{
    background-image: url(../imagenes/twitter.svg);
    background-size: 50px;
}
.instagram{
    background-image: url(../imagenes/instagram.svg);
    background-size: 50px;
}
@media (min-width: 720px){
    .redes{
        height: 80px;
    }
    .redes a{
        width: 70px;
        height: 70px;
    }
    .facebook, .twitter, .instagram{
        background-size: 70px;
    }
}
@media (min-width: 1024px){
    .redes{
        width: 40%;
    }
}
/*Footer*/
.footer{
    width: 100%;
    height: 50px;
    background: #101F36;
    text-align: center;
}
.footer p{
    display: inline-block;
    width: var(--width);
    margin: 10px var(--margin);
    color: white;
    font-size: 0.9em;
}
@media (min-width: 720px){
    .footer p{
        font-size: 1em;
    }
}
/* =============================================== TELEVISORES ============================================== */

.main_pages{
    width: var(--width);
    margin: var(--margin);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tarjet{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 4px 4px 20px #101F36;
    box-shadow: none;
    
}
.tarjet:nth-child(3n + 3){
    margin-right: 0;
}
.tarject_figure{
    border: 1px solid #000000;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.tarject_figure img{
    border-radius: inherit;
    height: inherit;
}
.tarject_contenido{
    background: #101F36;
    border-radius: 0 0 20px 20px;
    color: #ffffff;
    padding: 30px 50px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.tarject_contenido p,
.tarject_contenido .precio{
    display: inline-block;
    margin-bottom: 20px;
}
@media (min-width: 720px){
    .secundario{
        height: 200px;
    }
    .formulario input{
        font-size: 1em;
    }
}
@media (min-width: 1024px){
    .formulario{
        margin: 10px auto;
    }
    .tarjet{
        width: 30%;
        height: 600px;
    }
    .none{
        display: none;
    }
    .tarject_figure,
    .tarject_contenido{
        height: 50%;
    }
}